<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
    <div class="item<%= " active" if product == @products.first %>">
      <%= image_tag(product.image_url) %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<ul class="products columns-3">
  <li>
    <%= link_to image_tag("http://i.imgur.com/t6Ros4i.jpg"), "/products/1" %>
    <h3>Doritos</h3>
    <p>Delicious potato chips</p>
  </li>
  <li>
    <%= link_to image_tag("http://forthemommas.com/wp-content/uploads/2012/08/lays-chips.jpeg"), "/products/2" %>
    <h3>Lays</h3>
    <p>Delicious potato chips</p>
  </li>
  <li>
    <%= link_to image_tag("http://i.imgur.com/XUxvwls.jpg"), "/products/3" %>
    <h3>Sun Chips</h3>
    <p>Delicious potato chips</p>
  </li>
  <li>
    <%= link_to image_tag("http://i.imgur.com/XKqrTWg.png"), "/products/4" %>
    <h3>Cheetos</h3>
    <p>Delicious potato chips</p>
  </li>
  <li>
    <%= link_to image_tag("http://i.imgur.com/NlT7lfS.jpg"), "/products/5" %>
    <h3>Fritos</h3>
    <p>Delicious potato chips</p>
  </li>
  <li>
    <%= link_to image_tag("http://i.imgur.com/y3S5W3L.jpg"), "/products/6" %>
    <h3>Kettle Chips</h3>
    <p>Delicious potato chips</p>
  </li>
</ul>