<!DOCTYPE html>
<html>
<head>
  <title>Basic Rails Web App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <nav class="container-fluid anchor">
        <nav class="navbar-header"> <!-- begin header -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="navbar-brand" id="homepage">
            <a href="#index">The Snackbar</a>
          </nav> <!-- end project name -->
        </nav> <!-- end navbar header -->
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#index">Home</a></li>
            <li><a href="#inventory">All Items</a></li>
            <li><a href="#request">Product Request</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </nav> <!-- end nav container -->
    </nav> 
  </div><!-- /.container-fluid -->
</nav>

<!-- Homepage Banner -->

<h1>Welcome to The Snackbar</h1>
<h2>The site for all your snacking needs</h2>
<%= image_tag("kitkat.jpg") %>

<!-- End Banner -->

<%= yield %>

<!-- Begin Footer -->
<footer>
  <ul>
    <li>
      <p class="home">Home</p>
      <a class="logo" href="#">Ho Pang Au Yeung <i>&copy; 2015</i></a>
    </li>
    <li>
      <p class="services">Services</p>
      <ul>
        <li><a href="#">All Items</a></li>
        <li><a href="#">Product Requests</a></li>
        <li><a href="#">Automated Orders</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </li>
    <li>
      <p class="reachus">Reach us</p>
      <ul>
        <li><a href="#">Email</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li>123-456-7890</li>
      </ul>
    </li>
    <li>
      <p class="clients">Customers</p>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </li>
  </ul>
</footer>

<!-- End Footer-->

</body>
</html>


